In [41]:
import os
import sqlite3
os.getcwd()

'C:\\Users\\Admin'

In [45]:
connection = sqlite3.connect("assignment1.db")
cursor = connection.cursor()

In [46]:
sql_command= '''create table Ages(name VARCHAR(128),
  age INTEGER
)'''
cursor.execute(sql_command)

In [47]:
cursor.execute("DELETE FROM Ages;")

In [48]:
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Mara', 28);
''')

In [49]:
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Otto', 33);")

In [50]:
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Fyn', 31);")

In [51]:
cursor.execute("INSERT INTO Ages (name, age) VALUES ('Neshawn', 17);")

In [53]:
connection.commit()

In [54]:
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

In [55]:
result= cursor.fetchall()
for row in result:
    print(row)

('46796E3331',)
('4D6172613238',)
('4E65736861776E3137',)
('4F74746F3333',)

In [56]:
connection.close()